
.layout_guide {
    width: min(80%, 1520px);
}


.topbar {
    height: 78px;
    background-color: #cf2929;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: center;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 135px;
    display: block;
}

.menuList {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.menuLink {
    color: #ffffff;
    font-size: var(--tamanho-fonte-padrao);
    font-weight: 700;
    text-decoration: none;
}

.userArea {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;
    color: #ffffff;
}

.userIcon {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    color: #cf2929;
    font-size: 26px;
    cursor: pointer;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.userInfo strong,
.userInfo span {
    font-size: var(--tamanho-fonte-padrao);
}

.arrowButton,
.hamburguer {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
}

.hamburguer {
    display: none;
}

@media (max-width: 1200px) {

    .layout_guide {
        width: 90%;
    }

    .menu-list,
    .user-area {
        display: none;
    }

    .hamburguer {
        display: block;
    }
}

@media (max-width: 768px) {

    .topbar {
        padding: 18px 0;
        height: auto;
    }

    .layout_guide {
        width: 92%;
    }
}